@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:ital,wght@0,400;0,500;0,700;0,800;0,900;1,400;1,500;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Mangolaine';
  src: url('/fonts/Mangolaine.ttf');
}

@font-face {
  font-family: 'DreamAvenue';
  src: url('/fonts/Dream-Avenue.ttf');
}


@keyframes zoom {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.1);
  }
}

.swiper-slide-prev,
.swiper-slide-active,
.swiper-slide-duplicate-active {
  img {
    animation-name: zoom;
    animation-duration: 10s;
  }
}